<div class="success-page">
  <div class="header">
    <img class="icon" src="/status-icon.svg" />
    <h1 class="title">Transaksi Selesai</h1>
    <p class="subtitle">Status pembayaran dapat dipastikan
      <br />
      melalui riwayat transaksi.
    </p>
  </div>

  <div class="content">
    <div class="illustration-container">
      <img src="/illustration.svg" alt="Success Illustration" class="illustration" />
    </div>
  </div>
  <div class="footer">
    <button class="btn-primary" id="btn-finance">Kembali ke Keuangan</button>
    <!-- <button class="btn-secondary" id="btn-history">Lihat Riwayat Transaksi</button> -->
  </div>
</div>